In [1]:
import pandas as pd
from ipynb_helpers import convert_latitude, convert_longitude
from unidecode import unidecode

In [2]:
df = pd.read_csv('datasets/estaciones_data.csv')

In [3]:
df['latitud'] = df['latitud'].apply(convert_latitude)
df['longitud'] = df['longitud'].apply(convert_longitude)

In [4]:
prov = pd.read_csv('datasets/param_codes/provincia_codes.csv', dtype={'Código': str})

In [5]:
df['provincia'] = df['provincia'].str.lower()
prov['Provincia'] = prov['Provincia'].str.lower()

In [6]:
prov = prov[prov['Código'].apply(lambda x: len(str(x)) != 3)]

In [7]:
df['provincia'] = df['provincia'].str.replace('sta. cruz', 'santa cruz')
df['provincia'] = df['provincia'].str.replace('/alava', '')
df['provincia'] = df['provincia'].str.replace('illes balears', 'balears')
df['provincia'] = df['provincia'].str.replace('balears', 'illes balears')
df['provincia'] = df['provincia'].str.replace('baleares', 'illes balears')

In [8]:
prov['Provincia'] = prov['Provincia'].apply(lambda x: unidecode(x))
df['provincia'] = df['provincia'].apply(lambda x: unidecode(x))

In [14]:
prov = prov.rename(columns={'Provincia': 'provincia'})

In [16]:
df = pd.merge(df, prov[['provincia', 'Código']], on='provincia', how='left')

In [18]:
df = df.rename(columns={'Código': 'provincia_id'})

In [21]:
df = df.rename(columns={'indicativo': 'idema'})

In [22]:
df.columns

Index(['latitud', 'provincia', 'altitud', 'idema', 'nombre', 'indsinop',
       'longitud', 'provincia_id'],
      dtype='object')

In [23]:
df = df[['idema', 'nombre', 'provincia', 'provincia_id', 'latitud', 'longitud', 'altitud', 'indsinop']]

In [4]:
df['latitud'] = df['latitud'].round(4)
df['longitud'] = df['longitud'].round(4)

In [8]:
df['indsinop'] = df['indsinop'].astype('Int64')

In [9]:
df.tail()

,idema,nombre,provincia,provincia_id,latitud,longitud,altitud,indsinop
942,9988B,CAP DE VAQUÈIRA,lleida,25,42.6833,0.9667,2467,8936
943,9990X,"NAUT ARAN, ARTIES",lleida,25,42.7000,0.8667,1161,8107
944,9994X,BOSSÒST,lleida,25,42.7667,0.6833,722,<NA>
945,9995Y,VALCARLOS/LUZAIDE,navarra,31,43.0833,-1.3000,334,<NA>
946,9998X,BELLO,teruel,44,40.9167,-1.4833,1006,<NA>

In [10]:
df.to_csv('../datasets/estaciones_data_clean.csv', index=False)