In [1]:
import ipynb_helpers as helpers
import pandas as pd

In [2]:
api_key = helpers.get_env_var("AEMET_API_KEY")

In [3]:
url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones'

In [4]:
datos_url = helpers.make_request('get', url=url, response_format='json', headers={'api_key': api_key})[0]['datos']

In [8]:
datos = helpers.make_request('get', url=datos_url, response_format='json', headers={'api_key': api_key})[0]

In [9]:
df = pd.DataFrame(datos)

In [26]:
df.tail(10)

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
937,411038N,TARRAGONA,370,9947X,LA POBLA DE MASSALUCA,,002112E
938,411458N,TARRAGONA,363,9961X,CABACÉS,,004407E
939,410018N,TARRAGONA,112,9975X,RASQUERA,,003649E
940,404913N,TARRAGONA,50,9981A,ESTACIÓN DE TORTOSA (ROQUETES),08238,002936E
941,404157N,TARRAGONA,1,9987P,SANT JAUME D'ENVEJA,08240,004836E
942,424131N,LLEIDA,2467,9988B,CAP DE VAQUÈIRA,08936,005826E
943,424201N,LLEIDA,1161,9990X,"NAUT ARAN, ARTIES",08107,005237E
944,424634N,LLEIDA,722,9994X,BOSSÒST,,004123E
945,430528N,NAVARRA,334,9995Y,VALCARLOS/LUZAIDE,,011803W
946,405517N,TERUEL,1006,9998X,BELLO,,012940W

In [27]:
df.to_csv('datasets/estaciones_data.csv', index=False)