In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../../data/ml/historical_full.csv', parse_dates=['fecha'])

In [15]:
(df['fecha'].dt.year).unique()

array([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020, 2021, 2022, 2023, 2024], dtype=int32)

In [44]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6026325 entries, 0 to 6026324
Data columns (total 17 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   fecha      6026325 non-null  datetime64[ns]
 1   idema      6026325 non-null  object
 2   tmed       6026325 non-null  float64
 3   prec       6026325 non-null  float64
 4   tmin       6026325 non-null  float64
 5   tmax       6026325 non-null  float64
 6   hr_media   6026325 non-null  float64
 7   velmedia   6026325 non-null  float64
 8   racha      6026325 non-null  float64
 9   year       6026325 non-null  float64
 10  fecha_sin  6026325 non-null  float64
 11  fecha_cos  6026325 non-null  float64
 12  dir_sin    6026325 non-null  float64
 13  dir_cos    6026325 non-null  float64
 14  latitud    6026325 non-null  float64
 15  longitud   6026325 non-null  float64
 16  altitud    6026325 non-null  int64
dtypes: datetime64[ns](1), float64(14), int64(1), object(1)
memory usage: 781.6+ MB

In [23]:
train = df[df['fecha'].dt.year < 2021]
test = df[df['fecha'].dt.year >= 2021]

In [40]:
train.head(3)

,fecha,idema,tmed,prec,tmin,tmax,hr_media,velmedia,racha,year,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud
0,1997-01-01,3110C,0.6,0.0,-0.5,1.7,93.0,0.3,3.9,0.47,0.0172,0.9999,0.7346,0.6785,41.0000,-3.6000,1030
1,1997-01-01,1495,1.8,4.1,0.4,3.2,100.0,1.9,6.1,0.47,0.0172,0.9999,0.9096,0.4154,42.2333,-8.6167,255
2,1997-01-01,B691,10.0,6.0,4.0,16.0,84.0,0.8,6.1,0.47,0.0172,0.9999,0.2511,0.9679,39.7333,3.0000,40

In [41]:
test.head(3)

,fecha,idema,tmed,prec,tmin,tmax,hr_media,velmedia,racha,year,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud
4748475,2021-01-01,4520X,4.2,0.0,0.6,7.9,86.0,3.900000,12.2,0.71,0.0172,0.9999,0.922400,-0.386300,38.1667,-6.6500,586
4748476,2021-01-01,C453I,4.6,0.0,1.8,7.5,72.0,3.533333,10.1,0.71,0.0172,0.9999,0.639767,0.178167,28.3833,-16.4333,1744
4748477,2021-01-01,7250C,7.6,0.0,2.4,12.7,58.0,3.533333,10.1,0.71,0.0172,0.9999,0.639767,0.178167,38.1833,-1.0333,174

In [52]:
len(train), len(test)

(4748475, 1277850)

In [53]:
len(test) / (len(train) + len(test))

0.21204465408022302

test makes up around 20%

In [54]:
train = train.drop(columns=['idema'])
test = test.drop(columns=['idema'])

In [57]:
train = train.round(4)
test = test.round(4)

In [58]:
train.head(3)

,fecha,tmed,prec,tmin,tmax,hr_media,velmedia,racha,year,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud
0,1997-01-01,0.6,0.0,-0.5,1.7,93.0,0.3,3.9,0.47,0.0172,0.9999,0.7346,0.6785,41.0000,-3.6000,1030
1,1997-01-01,1.8,4.1,0.4,3.2,100.0,1.9,6.1,0.47,0.0172,0.9999,0.9096,0.4154,42.2333,-8.6167,255
2,1997-01-01,10.0,6.0,4.0,16.0,84.0,0.8,6.1,0.47,0.0172,0.9999,0.2511,0.9679,39.7333,3.0000,40

In [59]:
test.head(3)

,fecha,tmed,prec,tmin,tmax,hr_media,velmedia,racha,year,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud
4748475,2021-01-01,4.2,0.0,0.6,7.9,86.0,3.9000,12.2,0.71,0.0172,0.9999,0.9224,-0.3863,38.1667,-6.6500,586
4748476,2021-01-01,4.6,0.0,1.8,7.5,72.0,3.5333,10.1,0.71,0.0172,0.9999,0.6398,0.1782,28.3833,-16.4333,1744
4748477,2021-01-01,7.6,0.0,2.4,12.7,58.0,3.5333,10.1,0.71,0.0172,0.9999,0.6398,0.1782,38.1833,-1.0333,174

In [55]:
train.to_csv('../../data/ml/train.csv', index=False)

In [56]:
test.to_csv('../../data/ml/test.csv', index=False)