In [1]:
import pandas as pd
import joblib
from sklearn.preprocessing import MinMaxScaler

In [2]:
train_df = pd.read_csv('../../data/ml/train.csv', parse_dates=['fecha'])
test_df = pd.read_csv('../../data/ml/test.csv', parse_dates=['fecha'])

In [4]:
train_df = train_df.set_index('fecha')
test_df = test_df.set_index('fecha')

In [5]:
ignore_cols = ['year']

In [6]:
minmax_scaler = MinMaxScaler(feature_range=(0, 1))

In [7]:
train_scaled = minmax_scaler.fit_transform(train_df.drop(columns=ignore_cols))
joblib.dump(minmax_scaler, '../../data/ml/minmax_scaler.joblib')

['../../data/ml/minmax_scaler.joblib']

In [8]:
test_scaled = minmax_scaler.transform(test_df.drop(columns=ignore_cols))

In [9]:
train_scaled_df = pd.DataFrame(train_scaled, columns=train_df.drop(columns=ignore_cols).columns)
test_scaled_df = pd.DataFrame(test_scaled, columns=test_df.drop(columns=ignore_cols).columns)

In [10]:
train_scaled_df['year'] = train_df['year'].values
test_scaled_df['year'] = test_df['year'].values

In [11]:
train_scaled_df = train_scaled_df.round(4)
test_scaled_df = test_scaled_df.round(4)

In [14]:
train_scaled_df.set_index(train_df.index, inplace=True)
test_scaled_df.set_index(test_df.index, inplace=True)

In [15]:
train_scaled_df.head(3)

,tmed,prec,tmin,tmax,hr_media,velmedia,racha,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud,year
fecha,,,,,,,,,,,,,,,
1997-01-01,0.0708,0.0125,0.1911,0.2533,0.9293,0.2044,0.0566,0.5086,1.0,0.8673,0.8392,0.8275,0.6468,0.3604,0.47
1997-01-01,0.0759,0.0241,0.1984,0.2781,1.0000,0.2400,0.0885,0.5086,1.0,0.9548,0.7077,0.9039,0.4230,0.0890,0.47
1997-01-01,0.1106,0.0295,0.2276,0.4901,0.8384,0.2156,0.0885,0.5086,1.0,0.6255,0.9840,0.7490,0.9413,0.0137,0.47

In [16]:
test_scaled_df.head(3)

,tmed,prec,tmin,tmax,hr_media,velmedia,racha,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud,year
fecha,,,,,,,,,,,,,,,
2021-01-01,0.0861,0.0125,0.2000,0.3560,0.8586,0.2844,0.1771,0.5086,1.0,0.9612,0.3068,0.6519,0.5108,0.2049,0.71
2021-01-01,0.0877,0.0125,0.2098,0.3493,0.7172,0.2763,0.1466,0.5086,1.0,0.8199,0.5891,0.0455,0.0744,0.6105,0.71
2021-01-01,0.1005,0.0125,0.2146,0.4354,0.5758,0.2763,0.1466,0.5086,1.0,0.8199,0.5891,0.6529,0.7613,0.0606,0.71

In [17]:
train_scaled_df.to_csv('../../data/ml/train_scaled.csv', index=True)

In [18]:
test_scaled_df.to_csv('../../data/ml/test_scaled.csv', index=True)