In [1]:
import pandas as pd

In [36]:
df = pd.read_csv('../../data/ml/full.csv', parse_dates=['fecha'])

In [50]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4582780 entries, 0 to 4582779
Data columns (total 12 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   fecha      4582780 non-null  datetime64[ns]
 1   idema      4582780 non-null  object
 2   tmed       4582780 non-null  float64
 3   prec       4582780 non-null  float64
 4   tmin       4582780 non-null  float64
 5   tmax       4582780 non-null  float64
 6   hr_max     4582780 non-null  float64
 7   hr_media   4582780 non-null  float64
 8   latitud    4582780 non-null  float64
 9   altitud    4582780 non-null  int64
 10  fecha_sin  4582780 non-null  float64
 11  fecha_cos  4582780 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 419.6+ MB

In [37]:
train_df = df[df['fecha'].dt.year <= 2020]
validation_df = df[(df['fecha'].dt.year >= 2021) & (df['fecha'].dt.year <= 2022)]
test_df = df[df['fecha'].dt.year >= 2023]

In [38]:
len(train_df), len(validation_df), len(test_df)

(3249868, 633758, 699154)

In [39]:
round(len(train_df) / len(df) * 100, 2), round(len(validation_df) / len(df) * 100, 2), round(len(test_df) / len(df) * 100, 2)

(70.91, 13.83, 15.26)

In [46]:
train_df.head(1)

,fecha,idema,tmed,prec,tmin,tmax,hr_max,hr_media,latitud,altitud,fecha_sin,fecha_cos
0,2010-01-01,2331,2.7,3.5,0.8,4.6,97.0,94.0,42.35,891,0.5086,0.9999

In [47]:
validation_df.head(1)

,fecha,idema,tmed,prec,tmin,tmax,hr_max,hr_media,latitud,altitud,fecha_sin,fecha_cos
3249868,2021-01-01,B346X,9.0,19.5,5.7,12.3,98.0,90.0,39.5167,120,0.5086,0.9999

In [48]:
test_df.head(1)

,fecha,idema,tmed,prec,tmin,tmax,hr_max,hr_media,latitud,altitud,fecha_sin,fecha_cos
3883626,2023-01-01,8293X,11.5,0.0,4.4,18.6,80.0,65.0,39.0,88,0.5086,0.9999

In [49]:
train_df.to_csv('../../data/ml/train.csv', index=False)
validation_df.to_csv('../../data/ml/validation.csv', index=False)
test_df.to_csv('../../data/ml/test.csv', index=False)